.rTable{
    position: relative;
    width: 100%;
    text-align: center;
    border: 3px solid black;
}
.rTable thead{
    background-color: black;
    font-weight: bold;
    color: #55ffff;
}
.rTable tbody tr:nth-child(2n){
    background: #ccc
}

@media screen and (max-width: 480px){
    .content{width: 94%;}
    .rTable thead{display: none}
    .rTable tbody td{display: flex; flex-direction: column}
}

@media only screen and (min-width: 1200px) {
    .content{width: 70%}
    .rTable th, .rTable td{padding: 7px 0;}
    .albumTable tbody tr td:nth-child(1){width: 15%}
    .albumTable tbody tr td:nth-child(2){width: 15%}
    .albumTable tbody tr td:nth-child(3){width: 80%}
    .postTable tbody tr td:nth-child(1){width: 10%}
    .postTable tbody tr td:nth-child(2){width: 10%}
    .postTable tbody tr td:nth-child(3){width: 30%}
    .postTable tbody tr td:nth-child(4){width: 60%}
    .todosTable tbody tr td:nth-child(1){width: 10%}
    .todosTable tbody tr td:nth-child(2){width: 10%}
    .todosTable tbody tr td:nth-child(3){width: 60%}
    .todosTable tbody tr td:nth-child(4){width: 30%}
}